
    <main id="main">
    <nav class="navbar navbar-expand-lg navbar" style="background-color:#34b7f1;position : static">
        <div class="col-sm-12 col-md-12 col-lg-12" id="left">
            <div class="navbar-nav" style="flex-direction:row">
                <div id="navbar-company">
                    <div id="navbar-company-right">
                        <a href="#" id="navbar-brand-tag"><i class="fa fa-arrow-left"></i></a>
                    </div>
                    <div id="navbar-company-right">
                        <a href="#" class="navbar-brand" style="display: inline"><img src="../../../assets/images/logo.png" id="navbar-image"><p style="color:white;display: inline">&nbsp;Hans Matrimony</p></a>                 
                    </div> 
                </div>  
                <div class="col-sm-12 col-md-12 col-lg-12 offset-md-7 offset-lg-7" id="right">
                    <div class="navbar-nav" style="flex-direction:row;margin-left: 10%;height:50px;margin-top: 10px;margin-bottom: 10px" id="navbar-comany-right">   
                        <div id="navbar-company-right">
                            <a href="#"><i class="fa fa-phone" id="navbar-image"></i></a>
                        </div>
                        <div id="navbar-company-right">
                            <a href="#"><i class="fa fa-envelope" id="navbar-image"></i></a>
                        </div>
                        <div id="navbar-company-right ">   
                            <a href="#"><i class="fa fa-ellipsis-v" id="navbar-image"></i></a> 
                        </div>
                            
                    </div>
                </div>      
            </div>         
        </div>  
    </nav>
    
   
        <div class="section" style="padding-bottom : 100px;height: -webkit-fill-available;overflow-y: scroll;overflow-x:hidden;display: block" id="body">

            <div class="section" style="margin-top:20px" *ngIf = "show1" >
                 <div class="container">
                     <div class="text-center" id="show-me-profile" (click) = "showProfile()">Show me some profiles</div>
                 </div>
            
            </div>
    
            <div style="margin-top:20px;" class="section">
                <div class="section" *ngFor ="let i of show_arr" style="margin-top:20px">
                    <div class="section" *ngIf="i.sent===1" style="margin-top:20px;display:block" >
                        <div class="pull-right" style="display: block;border-radius:10px;text-align:center;padding: 8px;margin-right: 10px;background-color: #34b7f1;display:block;margin-left:15%" id="color1">
                            <p style="color:white;margin-top:auto;margin-bottom:auto"><span id="display1" style="font-size : 20px">{{i.data}}</span></p>
                        </div>
                            
                    </div>
            
                    <div class="section" *ngIf="i.message===1" style="margin-top:20px;display: block" >
                        <div class="pull-left" style="display: block;border-radius:10px;text-align:center;padding: 8px;margin-left: 10px;margin-top: 20px;margin-bottom : 20px;background-color: #34b7f1;display:block;margin-right:15%" id="color2">
                            <p style="color:white;margin-top:auto;margin-bottom:auto"><span id="display2" style="font-size : 20px">{{i.data}}</span></p>
                        </div>                                
                    </div>
                    <div class="section" *ngIf = "i.profile===1" style="margin-top:20px;display: block;" >
                        <div class="section"  style="margin-top:20px"> 
                            <div class="section">
                                <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659651__340.png" style="width : 100%;height : 16rem;background-color : white;margin-top:30px">
                            </div>
                        </div>
                    
                      <!-- carousel done -->
                     
                        <div class="container"  style="background-color : white;;padding:10px;width: 100%">
                            <div class="row" style="text-align:left">
                                <p>{{i.data.name}}</p>
                            </div>
                                
                        </div> 
                        <div class="container" style="background-color:white;padding:10px;width: 100%">     
                          <div class="section" style="display:flex">
                              <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:left ;display : flex">
                                  <img src="../../../assets/color_icons/calendar-alt_gradient.svg">
                          
                                  <p>{{i.data.birth_date}}</p>
                              </div>
                              <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center; display : flex">
                                  <img src="../../../assets/color_icons/ruler.svg">
                          
                                  <p>{{i.data.height}} inches</p>
                              </div>
                              <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:right;display : flex">
                                  <img src="../../../assets/color_icons/weight.svg">
                          
                                  <p>{{i.data.weight}} kg</p>
                              </div>
                          </div>
                         
                    
                        
                        </div>
                    
                        <div class="container" style="background-color:white;;padding:10px;width: 100%">     
                          <div class="section" style="display:flex">
                              <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:left ;display : flex">
                                  <img src="../../../assets/color_icons/graduation-hat.svg">
                          
                                  <p>{{i.data.degree}}</p>
                              </div>
                              <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center; display : flex">
                                  <img src="../../../assets/color_icons/Rupee.svg">
                          
                                  <p>{{i.data.monthly_income}}</p>
                              </div>
                              <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:right;display : flex">
                                  <img src="../../../assets/color_icons/map-marker_blue.svg">
                          
                                  <p>{{i.data.locality}}</p>
                              </div>
                          </div>
                         
                    
                        
                        </div>
                    
                        <div class="container" style="background-color:white;;padding:10px;width: 100%">     
                            <div class="section" style="display:flex">
                                <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:left ;display : flex">
                                    <img src="../../../assets/color_icons/church.svg">
                            
                                    <p>{{i.data.religion}}</p>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:center; display : flex">
                                    <img src="../../../assets/color_icons/heart.svg">
                            
                                    <p>{{i.data.marital_status}}</p>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4" style="text-align:right;display : flex">
                                    <img src="../../../assets/color_icons/crockery.svg">
                            
                                    <p>{{i.data.food_choice}}</p>
                                </div>
                            </div>
                         
                    
                        
                        </div>

                        <div class="container" style="background-color:white;;padding:10px;width: 100%">  
                            <div class="row" style="width:100%;text-align:center;display : block;margin-top:20px">
                              <div class="text-center" style="margin-left:auto;margin-right:auto">
                                <p style="color : #34b7f1;text-align: center">KNOW MORE</p>
                              </div>
                             
                              <div style="margin-left:auto;margin-right:auto;display:flex;margin-top:15px">
                                  <button class="btn btn-success" style="margin-left:auto;margin-right:auto" type="button" (click)="sendresponse('YES')">YES</button>
                                  <button class="btn btn-danger" style="margin-left:auto;margin-right:auto" type="button" (click)="sendresponse('NO')">NO</button>
                              </div>
                            </div>
                        </div>    


                    </div>
                </div>
                
        
            </div>
        
        </div>
               
    
    <footer style="position : fixed;bottom : 5px;width: 100%">
        <div class="section" style="display:flex">
            <form [formGroup]="answer" style="display:flex;width:100%">
                <div class="row" id="write-button" >          
                    <input placeholder="Show me some profiles" formControlName="ans" id="text" >
                   
                    <!-- <span > <i class="fa fa-camera" style="color:black"></i></span> -->
                    <!-- <span id="icon1"><i class="fa fa-paperclip" style="color:black"></i></span>
                    <span id="icon1"><i class="fa fa-camera" style="color:black"></i></span> -->
                </div>
                <div class="row" id="send-button">
                    <div class="circle" (click)="read('typed')"><i class="fa fa-paper-plane" ></i></div>
                </div>
            </form>
        </div>
        
    </footer>
            
            
</main>
