h6{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: 500
}

p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 13px;
    font-size: 1em;
    font-weight: 500
}

mat-card{
    width: 90%;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

active-border{
    color:black;cursor: pointer;
    border-bottom: 3px solid #E55A69;
    // width: 400px;
      color: #E55A69;
       margin: -43px;
     transition: border-bottom, width,1s;
  
  }

 mat-list-item {
      display: flex;
      flex-direction: column;
      align-items: left
  }