<main style="height :-webkit-fill-available;overflow: scroll;overflow-y: visible">
  <div class="col-sm-8 col-md-8 col-lg-8" style="margin-left:auto;margin-right:auto">
    <form [formGroup]="AccountDetails">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="standard">
            <mat-label>Your Email</mat-label>
            <input matInput type="text" formControlName="mail">
            <!-- <mat-hint align="end">We do not spam</mat-hint> -->
            <mat-error *ngIf="AccountDetails.get('mail').hasError('mail') && !AccountDetails.get('mail').hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="AccountDetails.get('mail').hasError('required')">
              Email is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="standard">
            <mat-label>Password</mat-label>
            <input type="text" matInput formControlName="key" required>
            <!-- <mat-hint align="end">Do not share it with anyone</mat-hint> -->
            <mat-error *ngIf="AccountDetails.get('key').hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="standard">
            <mat-label>Create Profile For</mat-label>
            <select matNativeControl  formControlName="create" required name="car">
              <option *ngFor="let  option of createProfile" [value]="option">
                {{option}}
              </option>
            </select>
            <mat-error *ngIf="AccountDetails.get('create').hasError('required') && AccountDetails.controls['create'].touched ">
              Please Choose A profile
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="standard">
            <mat-label>Gender</mat-label>
            <select matNativeControl  formControlName="gender" required name="gender">
                <option *ngFor="let  option of Gender" [value]="option">
                  {{option}}
                </option>
              </select>
            <mat-error *ngIf="AccountDetails.get('gender').hasError('required') && AccountDetails.controls['gender'].touched ">
              Please Choose Gender
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="standard">
            <mat-label>Full name</mat-label>
            <input type="text" matInput formControlName="fullname" required>
            <mat-error *ngIf="!AccountDetails.controls['fullname'].valid && AccountDetails.get('fullname').touched && !AccountDetails.get('fullname').hasError('required')">
              Please Enter valid Name
            </mat-error>
            <mat-error *ngIf="AccountDetails.get('fullname').hasError('required')">
              Please Enter Full name.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="standard">
              <mat-label>Date of Birth</mat-label>
            <input id="birthDate" max="10" placeholder="Choose a day"  matInput [matDatepicker]="picker1" formControlName="Date" >
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 startView="year" [startAt]="startDate" disabled="false"></mat-datepicker>
            <!-- <mat-hint align="end">Should Be more than 18 Years old.</mat-hint> -->
            <mat-error *ngIf="AccountDetails.get('Date').hasError('required')">
              Please Enter Date of Birth.
            </mat-error>
          </mat-form-field>
          <!-- <mat-error *ngIf="!birthdayValid">
                  Should Be more than 18 Years old and less than 40 Years.
                </mat-error> -->
        </div>
          <div class="col-md-12">
            <mat-form-field class="full-width" appearance="standard">
                <mat-label>Time of Birth</mat-label>
              <input matInput id="birthTime" type="time" placeholder="Choose a time" formControlName="birth_time">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width" appearance="standard">
                <mat-label>Birth Place</mat-label>
                <input type="text" matInput formControlName="birth_place" >
              <mat-error *ngIf="AccountDetails.get('birth_place').hasError('required') && AccountDetails.controls['birth_place'].touched ">
                Please Enter your birth place
              </mat-error>
            </mat-form-field>
          </div>

      </div>
        <div class="row">
            <div class="col-md-12">
              <mat-form-field class="full-width" appearance="standard">
                <mat-label>Food Preference</mat-label>
                <!-- <input type="text" matInput formControlName="" > -->
                <select matNativeControl  formControlName="food_choice" required name="foodpreference">
                  <option *ngFor="let  preferences of foodpreferences1" [value]="preferences">
                    {{preferences}}
                  </option>
                </select>
                
              </mat-form-field>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <mat-form-field class="full-width" appearance="standard">
                  <mat-label>Whatsapp Number (+91)</mat-label>
                  <input type="tel" matInput formControlName="whatsappNumber" required>
                  <mat-error *ngIf="(AccountDetails.get('whatsappNumber').hasError('required') && AccountDetails.controls['whatsappNumber'].touched) || (AccountDetails.get('whatsappNumber').hasError('required'))">Please
                    Enter Whatsapp Number</mat-error>
                  <mat-error class="error" *ngIf="AccountDetails.get('whatsappNumber').hasError('pattern')">Numbers
                    Only</mat-error>
                  <mat-error class="error" *ngIf="!AccountDetails.get('whatsappNumber').hasError('pattern') && !AccountDetails.get('whatsappNumber').hasError('required') && !AccountDetails.controls['whatsappNumber'].valid && AccountDetails.get('whatsappNumber').touched">Invalid
                    Phone Number</mat-error>
                </mat-form-field>
              </div>
            </div>
        
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="full-width" appearance="standard">
                <mat-label>Phone Number for OTP (+91)</mat-label>
                <input type="tel" matInput formControlName="phoneNumber" required>
                <mat-error *ngIf="(AccountDetails.get('phoneNumber').hasError('required') && AccountDetails.controls['phoneNumber'].touched) || (AccountDetails.get('phoneNumber').hasError('required'))">Please
                  Enter Phone Number</mat-error>
                <mat-error class="error" *ngIf="AccountDetails.get('phoneNumber').hasError('pattern')">Numbers
                  Only</mat-error>
                <mat-error class="error" *ngIf="!AccountDetails.get('phoneNumber').hasError('pattern') && !AccountDetails.get('phoneNumber').hasError('required') && !AccountDetails.controls['phoneNumber'].valid && AccountDetails.get('phoneNumber').touched">Invalid
                  Phone Number</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row ">
            <button type="button" mat-flat-button class="pull-centre"  style="margin-left: auto; margin-right: auto" color="warn" [disabled]="!AccountDetails.valid || !birthdayValid">Register Me</button>
          </div>

        <!-- <button type="button" mat-flat-button class="pull-right" color="warn" (click)="openPhotoDialog(photoModal)">Register Me</button> -->


    </form>
    <br><br>
    <p class="subtitle text-center">
      By clicking on <span class="highlight">"Register Me"</span>, you confirm that <br />you accept the <a
        href="#"><span class="highlight">Terms of Use</span></a> and <a href="#"><span class="highlight">Privacy
          Policy</span></a>
    </p>
  </div>
</main>